.btn, .btn-dark {
    border-radius: 0;
    width: fit-content;
    margin-top: 1em;
}

li {
    list-style: none;
    border-bottom: 1px solid black;
    width: inherit;
    margin: 0.5em;
}

#content {
    width: 50%;
    margin: auto;
}

#todo {
    border: 3px solid black;
    margin-top: 1em;
    width: fit-content;
}

.cross {
    float: right;
    border: none;
}

.done .span{
    text-decoration: line-through;
}